<%- include partials/header.ejs %>
    <div class="container-fluid">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4"><i class="fas fa-comments"></i>Testimonies</h1>
                    <p class="lead">Find out what everyone is saying about MattWong.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                        <% for(var i = 0; i < arrayOfPeopleImages.length; i++){ %>
                            <div class="quoteDiv">
                                <img src="<%= arrayOfPeopleImages[i]['imageUrl'] %>"  alt="Second slide">
                                <h4><%= arrayOfPeopleImages[i]['fName'] %>  <%= arrayOfPeopleImages[i]['lName'] %></h4>
                                <h4></h4>
                                <p><%= arrayOfPeopleImages[i]['quote'] %></p>
                            </div>
                        <% } %>
                </div>
                <div class="col-sm-6 ">
                    <img class="mx-auto d-block" src="/lib/images/intraspective_matt_wong.jpg">
                </div>
        
            </div>
    </div>
   


<%- include partials/footer.ejs %>